.principal {
    font-family:  url("Breaking Bad.ttf");
    background-image: url("/IMG/fondo.jpg");
    background-size:cover;
    background-repeat: no repeat;
    text-align: center;

}

h1{
    color:white;
    font-size: 24px;   
}

h2{
    text-align: center;
    font-size: 35px;
    font-stretch: extra-condensed；
}
h3{
    font-size:38px;
    font-stretch: extra-condensed;
    line-height: 0.01;
}


#logo{
    width:200px;
    height:200px;
}

#poster{
    width: 700px;
    height: 300px;
    border: brown 10px outset;
    border-radius: 22px;
    display: inline-block;
}

.page_tabla{
    background-color: #0c3e11;
    font-family: Helvetica, sans-serif;
    text-align: center;
    line-height: 8px;
   
}  

.tabla{
    background-color:#2b2c25 ;
    color:#2b2c25;
    width:fit-content;
    line-height: 8px; 
}


tr, td{
    border: 10px #2b2c25;
    border-collapse: separate;
}

td{
    height: 50px;  
    width:80px;
}

td img{
    width:100%;
}

.td_table2{
    background-color: bgcolor=#b4b838;
}

.formulario{
    display: flex;
    justify-content:center;
    width: 100%;
}

.page_formulario{
    background-image: url("/IMG/fondo.jpg");
    background-size:cover;
    background-repeat: no repeat;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    line-height: 30px;
}
#ficha{
    text-align:center;
    font-weight:900;
    font-size: 25px;
}