.principal {
    font-family:  url("Breaking Bad.ttf");
    background-image: url("/IMG/fondo.jpg");
    background-size:cover;
    background-repeat: no repeat;
}

#poster{
    width: 700px;
    height: 300px;
    border: brown 10px outset;
    border-radius: 22px;
    display: inline-block;
}

.page_tabla{
    background-color: #0c3e11;
    font-family: Helvetica, sans-serif;
    font-stretch: narrower;
    line-height: 0.9;
    text-align: center;
}  


.tabla{
    background-color:#2b2c25 ;
    color:#2b2c25;
    width:fit-content;
    text-align: center;
}

tr, td{
    border: 10px #2b2c25;
    border-collapse: separate;
}

td{
    height:70px;
    width:80px;
}

td img{
    width:65%;
}


.formulario{
    display: flex;
    justify-content:center;
    width: 100%;
}

.page_formulario{
    background-image: url("/IMG/fondo.jpg");
    background-size:cover;
    background-repeat: no repeat;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    line-height: 30px;
}